
<html>

<body>
    <div style="background: ghostwhite;
            font-size: 20px;
            padding: 25px;
            border: 1px solid black;
            margin-left: 200px; margin-right:200px; margin-top:10px">
        <h2 align="center">XYZ Hospital Limited</h2>
        <p align="center">Invoice of order <i></i></p>

        <div align="left">
            <b>Patient Name:</b> @Model.Name<br>
            <b>Age:</b>@Model.Age<br>
            <b>Gender:</b> @Model.Gender
        </div><br>

    </div>
</body>

</html>